.card{
    width: 35rem;
}

.btn{
    margin: auto;
    float: right;
}

.form-group{
    margin-top: 10px;
}

.alert{
    width: 25rem;
}

#btn1{
    float: right;
    margin: 0px !important;
}

i{
    margin: 5px;
}

img {
    border-radius: 50% !important;
    max-height: 70px;
    max-width: 70px;
    object-fit: contain;
    float: left;
    display: block;
}

.row {
    display: flex;
    vertical-align: middle;
    align-content: center;
    margin: auto;
  }

.col{
    margin: auto;
}

mat-icon{
    float: right;
    cursor: pointer;
}