.card{
    width: 25rem;
}

#card2{
    width: 15rem !important;
    height: 10rem !important;
}

.card-body{
    width: 100% !important;
    padding: 0 !important;
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

/* .form-group{
    margin-top: 10px;
} */

.alert{
    width: 25rem;
}

#btn1{
    float: right;
    margin: 0px !important;
    max-width: 15rem !important;
}

i{
    margin: 5px;
}

img {
    border-radius: 50% !important;
    max-height: 70px;
    max-width: 70px;
    object-fit: contain;
    float: left;
    display: block;
}

.row {
    display: flex;
    vertical-align: middle;
    align-content: center;
    margin: auto;
  }

.form-control{
    max-width: 15rem;
}

.col{
    margin: auto;
}

#btn2{
    float: right;
    max-width: 7rem;
}

mat-icon{
    cursor: pointer;
}

#icon1{
    float: right;
}

