
            <div class="bg">
                <br />
                <div class="container">
                  <div class="row">
            <div class="col-sm-12 col-md-10 col-lg-8 mx-auto">
                <div class="card mb-4">
                  <div class="card-header">
                    LOGO
                  </div>
                  <div class="card-header">
                    <b>My Projects</b>
                      <button type="submit" class="btn btn-danger" style="float:right;" routerLink="/register">
                        <strong><b>+</b>Add project</strong>
                      </button>
                  </div>
                  <div class="card-header">
                  </div>
                  <div class="card-body" *ngFor="let project of projects">
                    <!-- RETRIEVED PROJECTS DATA.// -->
                    <div>
                        {{ project.projectName }}
                        {{ project.assignedTo }}
                        &nbsp;
                        Creation Date: {{ project.creationDate }}
                    </div>
                      <!-- <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Dropdown button
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                      </div> -->

                      <div type="submit" style="float:right;" routerLink="/edit"><i class="fas fa-ellipsis-v"></i></div>
                  </div>
                </div>

