.card{
    width: 25rem;
}

.btn{
    margin-top: 10px;
}


.form-group{
    margin-top: 10px;
}

.alert{
    width: 25rem;
}

#btn1{
    float: right;
    margin: 0px !important;
}

i{
    margin: 5px;
}